@import "../../scss/variables.scss";
@import "../../scss/tools/tools.scss";

.perfomance {
    border: 1px solid fuchsia;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    text-align: center;
    min-width: 250px;
    min-height: 185px;
    background-color: grey;
    @media (min-width: $bp-m) {
        flex-direction: row;
    }
}

.perfomanceNumber {
    @include font-size(var(--t-xl));
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perfomanceDescription {
    display: block;
    background-color: white;
    @media (min-width: $bp-m) {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }
}
