@import "../../scss/variables";

.component {
    display: grid;
    grid-template-columns: 1fr;
    img {
        max-width: 100%;
    }
    row-gap: var(--v-grid-spacing);

    @media (min-width: $bp-m) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $bp-l) {
        grid-template-columns: repeat(4, 1fr);
    }
}
