// use css variables to delegate as much as possible to CSS
:root {
    --SCWidthInFrs: 100vw;
    --SCCardHeight: 306px;
    --SCCardWidth: 306px;
    --SCGridGap: 0;
    --SCSnapAlign: "center";
}

.sliderProvider {
    position: relative;
}

// This wraps the sliding part and hides the scrollbars
.sliderWrapper {
    position: relative;
    height: var(--squareCardSize);
    width: 100%;
    overflow: hidden;
}

.SCSlider {
    position: absolute;
    height: var(--SCCardHeight);
    width: var(--SCWidthInFrs, 100%);
    top: 0;
    // centre horizontally
    left: 50%;
    transform: translateX(-50%);

    box-sizing: initial;
    display: grid;
    grid-template-rows: var(--SCCardHeight);
    grid-auto-columns: var(--SCCardWidth);
    grid-auto-flow: column;
    grid-column-gap: var(--SCGridGap);
    overflow: scroll;
    padding-bottom: 30px;
    // for FF
    scroll-snap-type: mandatory;
    // for compliant browsers
    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: var(--SCSnapAlign);

    > * {
        scroll-snap-align: center;
    }
}

.card {
    height: var(--SCCardHeight);
    width: var(--SCCardWidth);
}

.SCControlWrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    height: var(--SCCardHeight);
    width: var(--SCWidthInFrs, 100%);
}

.SCControl {
    position: absolute;
    top: 0;
    appearance: none;
    border: 0 none;
    display: block;
    height: var(--SCCardHeight);
    width: var(--SCCardWidth);
}

.left {
    left: 0;
}

.right {
    right: 0;
}
