.component {
    position: relative;
}
.bgImg {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.anchor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 3;
    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
        transition: all 0.75s ease;
        & + .clientLogo {
            transform: translate(-50%, -100%);
        }
    }
}

.clientLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    h3 {
        color: white;
    }
}

.overlay:hover {
}
.button {
    composes: button from "../../scss/base.buttons.scss";
}
