/**
 * Blocks of content in no particular grouping
 */
:global(.block) {
    position: relative;
    z-index: 1;
    background-color: $whiteish;
    text-align: left;
    @extend %before-padding;
    @extend %after-padding;

    @media (min-width: $bp-s) {
        text-align: center;
    }

    .section-title {
        &::before {
            margin-left: auto;
            margin-right: auto;
            margin-top: var(--s-3);
        }
        &:last-child {
            margin-bottom: 0; //added in to stop extra gap when no sub heading added with stats
        }
    }
}

:global(.block--white_skin, .block--_skin) {
    + .block--white_skin,
    + .block--_skin {
        &::before {
            height: 0;
        }
    }
}

:global(.block--mid-grey_skin) {
    + .block--mid-grey_skin {
        &::before {
            height: 0;
        }
    }
}

:global(.block--dark_skin) {
    + .block--dark_skin {
        &::before {
            height: 0;
        }
    }
}

:global(.block--mid_skin, .block--mid-grey_skin) {
    background-color: $c-alt-bg;
}

// Dark Themes
:global(.block--dark_skin, .block--black_skin, .block--hero, .block--dark-grey_skin) {
    color: $whiteish;
    * {
        color: currentColor;
    }
}

:global(.block--dark_skin, .block--hero) {
    background-color: $c-bg;
}
