/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16-Aug-2017, 16:28:07
    Author     : jasongoodenough
*/

// Card styling

.card {
  margin-bottom: var(--s-4);
  background: $whiteish;

  @media (min-width: $bp-s) {
    margin-bottom: 0;
  }

  a {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    align-items: stretch;
    font-weight: 400;
    color: $c-link;
    border: 1px solid $c-separator;

    @media (min-width: $bp-s) {
      flex-direction: row;
    }

    @media (min-width: $bp-m) {
      flex-direction: column;
    }

    > * {
      flex: 1;
    }
  }

  // .media-wrapper {
  //   position: absolute;
  //   width: 118px;
  //   left: auto;
  //   top: 14px;
  //   right: 12px;

  //   @media (min-width: $bp-s) {
  //     width: 154px;
  //     left: calc(48% - 170px);
  //     right: auto;
  //     top: 16px;
  //   }
  //   @media (min-width: $bp-m) {
  //     left: auto;
  //     right: 16px;
  //   }
  // }

  // .meta-info-wrap {
  //   position: absolute; // keep tags fixed to bottom
  //   bottom: $s-2;
  //   left: $s-2;

  //   @media (min-width: $bp-s) {
  //     bottom: $s-4;
  //     left: $s-4;
  //   }
  // }

  // .meta-info {
  //   display: inline-block;
  //   list-style: none;
  //   font-size: $t-xsmall;
  //   margin: 0 0 0 $s-2;

  //   &:before {
  //     width: 5px;
  //     height: 1px;
  //     left: -14px;
  //     top: $s-1;
  //     position: absolute;
  //     content: "";
  //     background: $c-link;
  //   }

  //   &:first-child {
  //     margin: 0;

  //     &:before {
  //       display: none;
  //     }
  //   }

  //   @media (min-width: $bp-s) {
  //     font-size: $t1-h6;
  //   }
  // }
}

.card__media {
  overflow: hidden;
  img {
    transition: transform 0.2s ease-in-out;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  @media (min-width: $bp-s) {
    flex-basis: 48%;
  }

  @media (min-width: $bp-m) {
    flex-basis: 0%;
  }
}

.card__content {
  min-height: 130px;
  position: relative;
  text-align: left;
  padding: var(--s-2) var(--s-4); // extra padding below to leave space for tags

  @media (min-width: $bp-s) {
    min-height: 192px;
    flex-basis: 52%;
    padding-left: var(--s-3);
    padding-right: var(--s-3);
  }

  @media (min-width: $bp-m) {
    min-height: 177px;
    flex-basis: 0%;
    padding-left: var(--s-4);
    padding-right: var(--s-4);
  }
}

.card__title {
  font-size: var(--t-h5);
  font-weight: 700;
  margin: 0;

  @media (min-width: $bp-m) {
    line-height: 1.333em;
  }
}
