@import "../../scss/variables";

.component {
    composes: contentWrapper from "../Layout.module.scss";
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 50vw 50vw;
    grid-template-areas:
        "map map"
        "contact contact"
        "social1 social2"
        "social3 social4";

    @media (min-width: $bp-m) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "map map map map"
            "social1 social2 social3 social4";
        grid-template-rows: auto 25vw;
    }
}

.map {
    grid-area: map;
    max-height: 710px;
    height: 91vh;
    overflow: hidden;
}
