@import "../../scss/variables";

.gridItem {
    height: 100%;
}
.grid1 {
    grid-area: social1;
    background-color: $c-facebook;
}

.grid2 {
    grid-area: social2;
    background-color: $c-twitter;
}

.grid3 {
    grid-area: social3;
    background-color: $c-vimeo;
}

.grid4 {
    grid-area: social4;
    background-color: $c-linkedin;
    @include linkedin-bg();
}
