@import "../../scss/variables";

.component {
    composes: layoutGrid from "../../scss/layoutGrid.module.scss";
    composes: blockFull from "../../scss/layoutGrid.module.scss";
}

.alternate {
    background-color: $c-alt-block-bg;
}
