@import "../../scss/variables";

.component {
    composes: layoutGrid from "../../scss/layoutGrid.module.scss";
    background-color: $c-bg;
    position: relative;
}

.footerContainer {
    padding: calc(var(--s-3) + 5px) 0;
    color: $c-brand-c;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: var(--s-4);
    place-content: center;
    > * {
        border-bottom: 1px solid $c-black-80;
        &:last-child {
            border-bottom: 0;
        }
        @media (min-width: $bp-m) {
            border: none;
        }
    }

    a {
        color: currentColor;
    }
}
