@import "../../scss/variables";

.component {
    background-color: $c-bg;
    position: relative;
    composes: layoutGrid from "../../scss/layoutGrid.module.scss";
    composes: blockFull from "../../scss/layoutGrid.module.scss";
}

.footerContainer {
    padding: var(--s-4) 0;
    color: white;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: var(--s-4);
    place-content: center;
    > * {
        border-bottom: 1px solid $c-black-80;
        padding-bottom: var(--s-4);
        &:last-child {
            border-bottom: 0;
        }
        @media (min-width: $bp-m) {
            border: none;
        }
    }
}
