@import "../../scss/variables";

.component {
    display: grid;
    img {
        max-width: 100%;
    }
    row-gap: var(--v-grid-spacing);
    grid-template-columns: 1fr;
    @media (min-width: $bp-l) {
        grid-template-columns: repeat(3, 1fr);
    }
}
