@import "../../scss/variables";
@import "../../scss/animations";
.component {
    display: flex;
    width: 100%;
    animation: grow-height-in 0.3s ease-in 0s 1 forwards;
    height: 0;
    overflow: hidden;
}

.funny,
.details {
    flex: 0 1 50%;
}

.role {
    background: $c-text;
    color: $c-brand-c;
    padding: 3px 10px;
    display: inline-block;
}

.skils {
    margin-left: 0;
}
