@import "../../scss/variables";
@import "../../scss/tools/tools";

.component {
    position: relative;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    @include detail-grid-area(2, 30, "detail");
    padding: 0 var(--v-grid-spacing);
    height: 0;
    opacity: 0;
    will-change: height, opacity;
    overflow: hidden;
    background-color: $c-black-10;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);

    @media (min-width: $bp-m) {
        flex-flow: row wrap;
        @include detail-grid-area(3, 30, "detail");
    }
    @media (min-width: $bp-xl) {
        @include detail-grid-area(4, 30, "detail");
    }

    > * {
        flex: 1;
        max-width: 585px;
        margin: auto;
    }
}

.funny {
    display: none;

    @media (min-width: $bp-s) {
        display: block;
        width: 100%;
        margin-top: 80px;
    }

    @media (min-width: $bp-m) {
        margin-right: 2.5%;
    }
}

.details {
    margin-top: 80px;
    @media (min-width: $bp-s) {
        margin-top: auto;
    }

    @media (min-width: $bp-m) {
        margin-left: 0;
    }
}

.role {
    background: $c-text;
    color: $c-brand-c;
    padding: 3px 10px;
    display: inline-block;
}

.skils {
    margin-left: 0;
}

.closeButton {
    appearance: none;
    border: 0 none;
    position: absolute;
    top: 2%;
    right: 2%;
    flex: none;
    width: 56px;
    height: 56px;
    color: $c-brand-a;
    font-size: 28px;
    cursor: pointer;
    background-color: transparent;

    &:active {
        outline: transparent;
    }
}
