.phoneNumber {
    font-size: calc(var(--t-small) * 1px);
    margin: 0;
    text-align: center;
}

.address {
    font-size: calc(var(--t-xsmall) * 1px);
    margin: 0;
    text-align: center;
}

.part {
    margin-right: 5px;
}
