@import "../../scss/variables";
.feature.component > :first-child {
    grid-row: span 2;
    grid-column: span 2;
}
.component {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(
        auto-fit,
        minmax(calc((100vh - 200px) / 2), 1fr)
    );
    grid-auto-rows: calc((100vh - 200px) / 2);
    height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
}
