@import "../../scss/variables";
.feature.component > :first-child {
    grid-row: span 2;
    grid-column: span 2;
}

$headerFooter: 195px;
$carouselCell: calc((100vh - #{$headerFooter}) / 2);
.component {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax($carouselCell, 1fr));
    grid-auto-rows: $carouselCell;
    height: calc(100vh - #{$headerFooter});
    overflow-y: auto;
    overflow-x: hidden;
}
