.block--hero {
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    text-align: left;

    &::before {
        display: none;
    }

    * {
        position: relative;
        z-index: 1;
        grid-row: 2 / 3;
    }

    .full-screen,
    &::after {
        grid-column: full;
        grid-row: 1 / 4;
    }
}
