@import "../../scss/variables";

.pageHeader {
    position: relative;
    composes: layoutGrid from "../../scss/layoutGrid.module.scss";
    composes: blockFull from "../../scss/layoutGrid.module.scss";
}
