@import "../../scss/variables";

.item {
    list-style: none;
    display: inline-block;
    margin-right: calc(var(--s-1) * 4);
    font-size: var(--t-h2);
    a {
        font-size: 1.6em;
    }
    svg {
        fill: #d8d8d8;
    }
    &:last-child {
        margin-right: 0;
    }
}
