@import "../../scss/variables";

.item {
    display: inline-block;
    margin-right: calc(var(--s-1) * 4);
    height: 26px;
    font-size: 26px;

    &:last-child {
        margin-right: 0;
    }

    svg {
        fill: #d8d8d8;
    }
}
