@import "../../scss/variables";

.item {
    display: inline-block;
    margin-right: calc(var(--s-1) * 4);
    height: 26px;
    font-size: 26px;
    color: #d8d8d8;

    &:last-child {
        margin-right: 0;
    }
}

.link {
    display: block;
}
