/**
 * Overrides appear in here. Only 1 thing per rule
 */
:global(.list-plain) {
    list-style: none;
    padding-left: 0;
    li {
        &:before {
            display: none;
        }
    }
}

:global(.hidden) {
    display: none;
}

:global(.visually-hidden, .helper-text) {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: 100%;
}
