@import "../scss/variables";
.sectionNav {
    composes: layoutGrid from "../scss/layout.scss";
    composes: blockFull from "../scss/layout.scss";
    background-color: rgba(0, 0, 0, 0.3);
}

.sectionNavItem {
    color: $c-text-alt;
}
