@import "../scss/variables";
.sectionNav {
    composes: layoutGrid from "../scss/layout.scss";
    composes: blockFull from "../scss/layout.scss";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
}

.sectionNavWrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

.sectionNavItem {
    color: $c-text-alt;
    flex: 1;
    line-height: 52px;
    border-right: $c-text 1px solid;
    text-align: center;

    &:last-of-type {
        border-color: transparent;
    }

    &:hover,
    &:focus {
        color: $c-black-20;
    }
}
