@import "../scss/variables";

.layoutContainer {
    min-height: 100%;
}

.pageNavBar {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
    z-index: 100;
    height: var(--navBarSize);
}

.mainElement {
    position: relative;
    margin-top: var(--navBarSize);
}

.contentWrapper {
    background-color: $c-brand-c;
    position: relative;
    z-index: 10;
}

// SectionNav contextual styles
.sectionNav {
    composes: layoutGrid from "../scss/layoutGrid.module.scss";
    composes: blockFull from "../scss/layoutGrid.module.scss";
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    position: sticky;
    z-index: 100;

    @media (min-width: $bp-m) {
        top: 89px;
    }
}

.sectionNavWrapper {
    display: none;
    @media (min-width: $bp-m) {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;
    }
}

.sectionNavItem {
    color: $c-text-alt;
    flex: 1;
    line-height: 52px;
    border-right: $c-text 1px solid;
    text-align: center;
    &:last-of-type {
        border-color: transparent;
    }
    &:hover,
    &:focus {
        color: $c-black-20;
    }
}

.withSectionNav {
    margin-bottom: -52px;
}
