@import "../../scss/variables";
@import "../../scss/tools/tools";

.component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    @include expanding-grid-areas(2, 30);

    @media (min-width: $bp-m) {
        grid-template-columns: repeat(3, 1fr);
        @include expanding-grid-areas(3, 30);
    }
    @media (min-width: $bp-xl) {
        grid-template-columns: repeat(4, 1fr);
        @include expanding-grid-areas(4, 30);
    }
}
