@import "../../scss/variables";

.contactInfo {
    color: $c-text-alt;
    background-color: $c-menu-bg;
    padding: calc(3.25 * var(--vertical-rhythm))
        calc(3.25 * var(--vertical-rhythm)) calc(4.2 * var(--vertical-rhythm));
    grid-column: contact;

    @media (min-width: $bp-m) {
        position: absolute;
        right: 0;
        top: 110px;
        width: 397px;
        border-radius: 4px 0 0 4px;
    }
}

.white {
    color: $c-text-alt;
}

.contactIcon {
    max-width: 48px;
    max-height: 57px;
    position: absolute;
    left: 0;
    top: 0;
}

.address {
    display: block;
}

.part {
    margin-right: 5px;
}

.orgSectionName {
    display: block;
    // Following important(s) are to reduce code
    margin-bottom: 0 !important;
    float: none !important;
}

.addressSection {
    margin-top: 0;
    position: relative;
    padding-left: var(--s4);

    @media (min-width: $bp-s) {
        width: 50%;
        float: left;
    }

    @media (min-width: $bp-m) {
        padding-left: 60px;
        margin-bottom: calc(6 * var(--vertical-rhythm));
        clear: both;
    }
}

.addressSectionIcon {
    top: -1rem;
}

.phoneNumber,
.email {
    text-decoration: none;
}
