@import "../../scss/variables";

.contactInfo {
    color: $c-text-alt;
    background-color: $c-menu-bg;
    grid-column: 1/-1;
    padding: calc(4 * var(--vertical-rythym));

    @media (min-width: $bp-m) {
        position: absolute;
        right: 0;
        top: 110px;
        width: 397px;
        border-radius: 4px 0 0 4px;
    }
}

.white {
    color: $c-text-alt;
}

.address {
    display: block;
}

.part {
    margin-right: 5px;
}

.orgSectionName {
    margin-bottom: 0;
    display: block;
}

.addressSection {
    margin-top: 0;
}

.phoneNumber,
.email {
    text-decoration: none;
}
