@import "../../scss/variables";

@keyframes slide-in-right {
    0% {
        transform: translateX(100%, 0, 0);
    }
    100% {
        transform: translateX(0%, 0, 0);
    }
}

.contactInfo {
    color: $c-text-alt;
    grid-area: contact;
    background-color: $c-menu-bg;
    padding: calc(3.25 * var(--vertical-rhythm))
        calc(3.25 * var(--vertical-rhythm)) calc(4.2 * var(--vertical-rhythm));

    @media (min-width: $bp-m) {
        position: absolute;
        right: 0;
        top: calc(50% - 12.5vw);
        transform: translateY(-50%);
        width: 397px;
        border-radius: 5px 0 0 5px;
        animation: slide-in-right 0.5s ease-out 0s forwards;
    }
}

.addressWrapper {
    @media (min-width: $bp-s) and (max-width: $bp-m) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: var(--s-1);
    }
}

.white {
    color: $c-text-alt;
}

.contactIcon {
    max-width: 25.6px;
    max-height: 32px;
    position: absolute;
    left: 0;
    top: 0;

    @media (min-width: $bp-m) {
        max-width: 48px;
        max-height: 57px;
    }
}

.address {
    display: block;
    @media (min-width: $bp-s) and (max-width: $bp-m) {
        grid-column: 1/2;
        grid-row: 1/3;
        margin-top: 1.25em !important;
    }
}

.part {
    margin-right: 5px;
}

.orgName {
    grid-column: 1/2;
    grid-row: 1/2;
}

.orgSectionName {
    display: block;
    margin-bottom: 0;
}

.addressSection {
    margin-top: 0;
    position: relative;
    padding-left: calc(5 * var(--vertical-rhythm));

    @media (min-width: $bp-s) and (max-width: $bp-m) {
        margin-bottom: 0;
    }

    @media (min-width: $bp-m) {
        padding-left: 60px;
        margin-bottom: calc(6 * var(--vertical-rhythm));
        clear: both;
    }
}

.addressSectionIcon {
    top: -1rem;
}

.phoneNumber {
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 1/2;
}

.email {
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 2/3;
}
