.component {
    display: flex;
}

.quote {
    float: right;
    padding: 20px 0 20px 20px;
}

.testimonialText {
    padding-bottom: 10px;
}

.cite {
    display: block;
    padding-top: 10px;
}

.name {
    font-size: 22px;
    display: block;
    padding-top: 10px;
}

.title {
    font-size: var(--t-small);
}

.blockquoteImage {
    overflow: hidden;
    border-radius: 50%;
    margin-right: 22px;
    float: left;
    width: 77px;
    height: 77px;
}
