@import "../../scss/variables";
@import "../../scss/tools/tools";
.component {
    @media (min-width: $bp-m) {
        display: flex;
    }
}

.quoteLeft {
    line-height: 1.9em;
    display: block;
    font-size: 2em;
    fill: $c-menu-bg;
}

.testimonialText {
    padding-bottom: 10px;
    @include font-size(20);
    line-height: calculateRem(28);
    font-family: $t-font-basic;
    font-weight: 400;
    @media (min-width: $bp-m) {
        @include font-size(24);
        line-height: calculateRem(32);
    }
}

.testimonialFooter {
    display: grid;
    grid-template-columns: 0fr 1fr;
}

.name {
    font-size: 22px;
    display: block;
}

.title {
    font-size: var(--t-small);
}

.blockquoteImage {
    overflow: hidden;
    border-radius: 50%;
    margin-right: 22px;
    width: 77px;
    height: 77px;
}
