@import "../../scss/variables";
@import "../../scss/tools/tools";
.component {
    color: inherit;

    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 4px 0;
    z-index: 100;
    background-color: $c-brand-c;
    width: 100vw;

    @media (min-width: $bp-m) {
        padding: 20px 53px 20px 20px;
    }
}

.logo {
    flex: 1;
}

.nav {
    background: $c-menu-bg;
    color: $c-text-alt;
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 80%;
    transition: transform 0.5s ease-out;
    // position off screen
    transform: translateX(100%);
    top: 0;
    right: 0%;
    cursor: pointer;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &::before {
        content: "Browse";
        background-color: #bb163c;
        display: block;
        font-size: 28px;
        font-family: $t-font-accent;
        font-weight: 700;
        padding: 20px;
        border-bottom: 1px solid $c-brand-a-alt;
    }

    &::after {
        content: " ";
        font-size: 40px;
        display: block;
        position: absolute;
        top: 0;
        left: 0%;
        width: 38px;
        height: 38px;
        transform: translateX(-100%);
        background-color: $c-menu-bg;
        background: linear-gradient(
            to bottom,
            rgba(207, 37, 77, 1) 0%,
            rgba(207, 37, 77, 1) 14.286%,
            rgba(255, 255, 255, 1) 14.286%,
            rgba(255, 255, 255, 1) 28.572%,
            rgba(207, 37, 77, 1) 28.572%,
            rgba(207, 37, 77, 1) 42.858%,
            rgba(255, 255, 255, 1) 42.858%,
            rgba(255, 255, 255, 1) 57.144%,
            rgba(207, 37, 77, 1) 57.144%,
            rgba(207, 37, 77, 1) 71.43%,
            rgba(255, 255, 255, 1) 71.43%,
            rgba(255, 255, 255, 1) 85.716%,
            rgba(207, 37, 77, 1) 85.716%
        );
        border: $c-menu-bg 10px solid;
    }

    @media (min-width: $bp-m) {
        position: relative;
        height: auto;
        width: auto;
        background-color: transparent;
        color: initial;
        transform: initial;

        &::before,
        &::after {
            display: none;
        }
    }
}

.nav-active {
    transform: translateX(0);
}

.linkBase,
.linkBase:visited {
    border-bottom: 1px solid $c-brand-a-alt;
    margin: 0 2px;
    @include font-size(var(--t-h4));
    display: block;
    padding: 20px;
    color: inherit;

    @media (min-width: $bp-m) {
        @include font-size(var(--t-small));
        display: inline-block;
        border: 1px solid transparent;
        margin: 0 0 0 4px;
        padding: 9px 14px;

        &:hover,
        &:focus {
            color: $c-text;
            border: 1px solid currentColor;
        }
    }
}

.link {
    composes: linkBase;
    color: $c-text-alt;
    @media (min-width: $bp-m) {
        color: $c-link;
    }
}

.activeLink {
    @media (min-width: $bp-m) {
        composes: linkBase;
        color: $c-link-active !important;
        border: 1px solid currentColor !important;
    }
}
