.component {
    padding: 0 20px;
}

.figure {
    padding-right: 7%;
    margin: 0;
}

.imgResponsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}
