@keyframes fade-pop {
    0% {
        opacity: 1;
    }
    6% {
        opacity: 0.3;
    }
    9% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes grow-height-in {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: calc(100vh - 50px);
    }
}
