@keyframes fade-pop {
    0% {
        opacity: 1;
    }
    6% {
        opacity: 0.3;
    }
    9% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes grow-height-in {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: calc(100vh - 50px);
    }
}

.staff--detail-enter {
    opacity: 0.01;
    height: 0;
}

.staff--detail-enter.staff--detail-enter-active {
    opacity: 1;
    height: calc(100vh - 50px);
    transition: all 300ms ease-in;
}

.staff--detail-leave {
    opacity: 1;
}

.staff--detail-leave.staff--detail-leave-active {
    opacity: 0.01;
    height: 0;
    transition: all 300ms ease-in;
}
