/**
 * This file will contain generic styles applied to unclassed HTML elements.
 */

//=====================
// TEXT
//=====================
html,
body {
    padding: 0;
    margin: 0;
    background-color: $whiteish;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    color: $c-text;
    font-family: $t-font-basic;
    font-size: var(--t-base, 16px);
    line-height: calculateRem(21);
    font-weight: 400;
    text-rendering: auto;
    overflow-x: hidden;
}

p {
    margin-bottom: var(--s-p);
    &:last-child {
        margin-bottom: 0;
    }
    @media (min-width: $bp-s) {
        margin-bottom: calc(var(--vertical-rythym) * 4);
    }
}

h1,
h2,
h3 {
    font-family: $t-font-accent;
    font-weight: 700;
}

h1 {
    @include font-size(var(--t-h1));
    line-height: calculateRem(53);
}

h2 {
    @include font-size(var(--t-h2));
    color: $c-brand-a;
    line-height: calculateRem(42);
    margin-bottom: calc(var(--s-h2) - 8px); // -8 is for the descenders
    // this is for top 'extra' line height
    margin-top: -6px;
    &:after {
        content: "";
        width: 4px;
        height: 4px;
        background: $c-brand-b;
        display: inline-block;
        margin-left: 2px;
    }
}

h3 {
    @include font-size(var(--t-h3));
    line-height: calculateRem(28);
    margin-top: -6px;
    margin-bottom: calc(var(--s-h3) - 2px);
}

h4 {
    @include font-size(var(--t-h4));
    line-height: 1em;
}

h5 {
    @include font-size(var(--t-h5));
    line-height: 1em;
}

h6 {
    @include font-size(var(--t-h6));
    line-height: 1em;
}

strong {
    font-weight: 600;
}

li {
    margin-bottom: 0;
    line-height: 1em;
    margin-bottom: var(--vertical-rythym);
}

ul {
    list-style: inside;
    padding: 0;
    text-align: left;
    ul {
        margin-left: 0;
    }
    li {
        position: relative;
        padding: 0;
    }
}

ol {
    padding-left: calc(var(--s-1) * 2);
    margin-left: 0;
    list-style-type: none;
    text-align: left; // counter-reset: section;
    // li {
    //     &::before {
    //         color: $c-brand-a;
    //         counter-increment: section;
    //         /* Increments only this instance of the section counter */
    //         content: counters(section, ".") ". ";
    //         padding-right: 4px;
    //     }
    // }
}

//=====================
// LINKS
//=====================
a {
    color: $c-link;
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        color: $c-link-visited;
        text-decoration: none;
        border-bottom-color: transparent;
    }
}

//=====================
// ELEMENTS
//=====================
label,
input,
select,
textarea,
q,
button {
    font-size: var(--t);
    font-weight: 400;
}

figure {
    position: relative;
    margin: initial;
    overflow: hidden;
    picture,
    img {
        margin: 0 auto;
        width: 100%;
    }
    > a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0 none;
    }
}

q {
    &::before,
    &::after {
        content: '"';
        display: inline;
        color: $c-brand-a;
        font-size: var(--t);
    }
}

blockquote {
    @include font-size(20);
    line-height: calculateRem(28);
    font-family: $t-font-basic;
    font-weight: 400;
    @media (min-width: $bp-m) {
        @include font-size(24);
        line-height: calculateRem(32);
    }
    @media (min-width: $bp-l) {
        @include font-size(30);
        line-height: calculateRem(38);
    }
}

address {
    font-style: normal;
}

hr {
    border-bottom: 0;
    margin: 0;
}

svg * {
    fill: inherit;
    stroke: inherit;
}
