/**
 * This file will contain generic styles applied to unclassed HTML elements.
 */

//=====================
// TEXT
//=====================
html,
body {
    padding: 0;
    margin: 0;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

// These classes are set on the HTML element once the fonts are loaded
%fonts-loaded {
    font-family: $t-font;
}

.fonts-stage-1 body,
.fonts-stage-2 body {
    @extend %fonts-loaded;
    transition: font-size 0.3s ease; // this is for IE11
    * {
        @extend %fonts-loaded;
        transition: font-size 0.3s ease;
    }
}

body {
    font-family: $t-font-basic;
    font-size: var(--t-base);
    line-height: calculateRem(24);
    font-weight: 200;
    text-rendering: auto;
    overflow-x: hidden;
    @media (min-width: $bp-s) {
        line-height: calculateRem(24);
    }
    @media (min-width: $bp-m) {
        line-height: calculateRem(24);
    }
}

main {
}

p {
    @extend %fonts-loaded;
    margin-bottom: calc(var(--vertical-rythym) * 3);
    &:last-child {
        // margin-bottom: 0;
    }
    @media (min-width: $bp-s) {
        margin-bottom: calc(var(--vertical-rythym) * 4);
    }
}

h1 {
    @include font-size(var(--t-h1));
    line-height: calculateRem(var(--t-h1));
    // letter-spacing: 0.3px;
    // font-weight: 100;
}

h2 {
    @include font-size(var(--t-h2));
    // font-weight: 100;
    line-height: 1.25em;
    margin-bottom: calc(var(--s-h2) - 8px); // -8 is for the descenders
    // this is for top 'extra' line height
    margin-top: -6px;
    @media (min-width: $bp-s) {
        margin-bottom: calc(var(--s-h2) - 8px); // -8 is for the descenders
    }
    @media (min-width: $bp-m) {
        margin-bottom: calc(var(--s-h2) - 8px); // -8 is for the descenders
    }
}

h3 {
    @include font-size(var(--t-h3));
    line-height: 1.25em; // this is for top 'extra' line height
    margin-top: -6px;
    margin-bottom: calc(var(--s-h3) - 3px);
}

h4 {
    @include font-size(var(--t-h4));
    line-height: 1em;
}

h5 {
    @include font-size(var(--t-h5));
    line-height: 1em;
}

h6 {
    @include font-size(var(--t-h6));
    line-height: 1em;
}

strong {
    font-weight: 600;
}

li {
    margin-bottom: 0;
    line-height: 1em;
    margin-bottom: var(--vertical-rythym);
}

ul {
    list-style: inside;
    padding: 0;
    text-align: left;
    ul {
        margin-left: 0;
    }
    li {
        position: relative;
        padding: 0;
    }
}

ol {
    padding-left: calc(var(--s-1) * 2);
    margin-left: 0;
    list-style-type: none;
    text-align: left;
    // counter-reset: section;
    // li {
    //     &::before {
    //         color: $c-brand-a;
    //         counter-increment: section;
    //         /* Increments only this instance of the section counter */
    //         content: counters(section, ".") ". ";
    //         padding-right: 4px;
    //     }
    // }
}

//=====================
// LINKS
//=====================
a {
    color: $c-link;
    text-decoration: none;
    border: 1px solid transparent;
    border-bottom-color: currentColor;
    padding: 3px 3px 1px;
    transition: all 0.2s ease-out 0s;
    position: relative;
    &:hover {
        text-decoration: none;
        border-bottom-color: transparent;
    }
    &:visited {
        color: $c-link-visited;
        text-decoration: none;
        border-bottom-color: transparent;
    }
    &.block-wrapper {
        display: block;
        border: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

//=====================
// ELEMENTS
//=====================
label {
    color: $c-black-40;
    text-transform: uppercase;
    display: block;
    margin-bottom: var(--vertical-rythym);
}

input,
select,
textarea,
q,
button {
    font-size: var(--t);
    font-weight: 400;
    @media (min-width: $bp-s) {
        // font-size: var(--t);
    }
    @media (min-width: $bp-m) {
        // font-size: var(--t);
    }
}

figure {
    position: relative;
    margin: initial;
    overflow: hidden;
    picture,
    img {
        margin: 0 auto;
        width: 100%;
    }
    > a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0 none;
    }
}

.img-lazy-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    overflow: hidden;
    background-image: url("/themes/base_theme/default.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: opacity 0.8s ease 0s;
}

q {
    &::before,
    &::after {
        content: '"';
        display: inline;
        color: $c-brand-a;
        font-size: var(--t);
        @media (min-width: $bp-s) {
            // font-size: var(--t);
        }
        @media (min-width: $bp-m) {
            // font-size: var(--t);
        }
    }
}

blockquote {
    font-size: inherit;
}

address {
    font-style: normal;
}

hr {
    border-bottom: 0;
    margin: 0;
}

svg * {
    fill: inherit;
    stroke: inherit;
}
