// STATIC varaibles (don't change with context) can be sass variables (e.g. $variable-name)
// BREAKPOINTS - $bp- + name
$bp-xs: 20em; // 340 > standard mobile
$bp-s: 30em; // 480 > mobile or no mq support
$bp-m: 48em; // 768 = portrait tablet
$bp-l: 62em; // 992 < most tablet landscape
$bp-xl: 75em; // 1200; // large screens - might need an xl font size
$bp-xxl: 124em; // 1984;
// COLOURS - --c- + name
// named colours for ease (please use the more generic colours that use them below)
$whiteish: #fff;
$blackish: #000;
$aerian: rgb(208, 25, 68);
$lime: rgb(215, 223, 32);
$c-black-10: rgb(251, 251, 251);
$c-black-20: rgb(200, 200, 200);
$c-black-30: rgb(175, 175, 175);
$c-black-40: rgb(150, 150, 150);
$c-black-50: rgb(124, 124, 124);
$c-black-60: rgb(100, 100, 100);
$c-black-70: rgb(88, 88, 88);
$c-black-75: rgb(75, 75, 75);
$c-black-80: rgb(50, 50, 50);
$c-black-90: rgb(25, 25, 25);
$c-bg: rgb(63, 63, 63);
$c-alt-bg: rgb(88, 88, 88);
$c-menu-bg: #cf254d;
$c-alt-block-bg: rgb(238, 238, 238);
$social-link-colour: #808080;
// Generic variable names for use in the code (so that the colours only need changing on one place)
$c-brand-a: $aerian;
$c-brand-b: $lime;
$c-brand-c: $whiteish;
$c-brand-a-alt: #b11539;
$c-text: rgb(110, 110, 110);
$c-text-alt: $whiteish;
$c-link: $aerian;
$c-link-active: $c-text;
$c-link-visited: $aerian;
$c-separator: $c-bg;
$c-shadow: $c-black-80;
// TYPOGRAPHY - $t- + name or --t- + name (see below)
$t-font-basic: open-sans, Helvetica, Verdana, Arial, Utkal, sans-serif;
$t-font-accent: museo, courier, sans-serif;
