// STATIC varaibles (don't change with context) can be sass variables (e.g. $variable-name)
// BREAKPOINTS - $bp- + name
$bp-xs: 20em; // 340 > standard mobile
$bp-s: 30em; // 480 > mobile or no mq support
$bp-m: 48em; // 768 > portrait tablet
$bp-l: 16em; // 992 > most tablets
$bp-xl: 75em; // 1200; // large screens - might need an xl font size
$bp-xxl: 81em; // 1296px;
// COLOURS - --c- + name
// named colours for ease (please use the more generic colours that use them below)
$whiteish: #fff;
$blackish: #000;
$aerian: rgb(208, 25, 68);
$lime: rgb(215, 223, 32);
$c-black-10: rgb(225, 225, 225);
$c-black-20: rgb(200, 200, 200);
$c-black-30: rgb(175, 175, 175);
$c-black-40: rgb(150, 150, 150);
$c-black-50: rgb(125, 125, 125);
$c-black-60: rgb(100, 100, 100);
$c-black-75: rgb(75, 75, 75);
$c-black-80: rgb(50, 50, 50);
$c-black-90: rgb(25, 25, 25);
$c-bg: rgb(63, 63, 63);
$c-alt-bg: rgb(88, 88, 88);
$c-menu-bg: #cf254d;

$social-link-colour: #808080;
// Generic variable names for use in the code (so that the colours only need changing on one place)
$c-brand-a: $aerian;
$c-brand-b: $lime;
$c-brand-c: $whiteish;
$c-brand-a-alt: #b11539;
$c-text: rgb(110, 110, 110);
$c-text-alt: $whiteish;
$c-link: $aerian;
$c-link-active: $c-text;
$c-link-visited: $aerian;
$c-separator: $c-bg;
$c-shadow: $c-black-80;

// TYPOGRAPHY - $t- + name or --t- + name (see below)
$t-font-basic: open-sans, Helvetica, Verdana, Arial, Utkal, sans-serif;
$t-font-accent: museo, courier, sans-serif;

// VARIABLES (that change with context e.g. breakpoint, etc) can use CSS custom property syntax
:root {
    // MISC
    --border-radius: 0px;
    --max-content-width: 1200px;
    --min-content-width: 280px;
    --side-gutter: 15px;
    --h-grid-spacing: 2.5%;
    --v-grid-spacing: var(--s-1);
    --vertical-rythym: 8px;
    --grid-gap: 2.74%;
    --grid-column: 5.82%; // SPACING - --s- + name  !! needs cleaning up
    --s-1: 12px;
    --s-2: 28px;
    --s-3: 30px;
    --s-4: 32px;
    --s-5: 100px;
    --s-h2: 25px;
    --s-h3: 20px;
    --s-p: 58px;
    --pad-0: calc(8 * var(--vertical-rythym));
    --pad-1: calc(12 * var(--vertical-rythym));
    --pad-2: calc(14 * var(--vertical-rythym));
    --feature-pad-0: calc(5 * var(--vertical-rythym));
    --feature-pad-1: calc(8 * var(--vertical-rythym));
    --feature-pad-2: calc(
        10 * var(--vertical-rythym)
    ); // needs to be here for the text calculations
    --t: 16; // base font size without units
    $t: 16;
    --t-xxs: 10px;
    --t-button: 14px; // XSmall
    --t-base: calc(var(--t) * 1px); // normal text size
    --t-h1: 32;
    --t-h2: 25;
    --t-h3: 20;
    --t-h4: 18;
    --t-h5: 16;
    --t-h6: 14;
    --t-intro: 22;
    --t-small: 14;
    --t-xsmall: 12;
    --t-xl: 48;
    --t-xxl: calc(48 * 1px);
    --t-menu: 20;
}

@media (min-width: $bp-s) {
    :root {
        --side-gutter: 28px;
    }
}

@media (min-width: $bp-m) {
    :root {
        --s-h2: 30px;
        --s-h3: 23px;
        --s-p: 32px;
        --side-gutter: 68px;
        --t-h1: 48;
        --t-h2: 38;
        --t-h3: 22;
    }
}

@media (min-width: $bp-l) {
    :root {
        --side-gutter: 28px;
    }
}

@media (min-width: $bp-xl) {
    :root {
        --side-gutter: 48px;
    }
}
